<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back_hexiang_studio.mapper.CourseMaterialMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        insert into course_material (course_id, file_name, file_path, file_size, file_type, uploader_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.courseId}, #{item.fileName}, #{item.filePath}, #{item.fileSize}, #{item.fileType}, #{item.uploaderId})
        </foreach>
    </insert>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from course_material
        where material_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper> 