<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back_hexiang_studio.mapper.SubTaskMapper">

    <!--添加子任务-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="subTaskId">
        insert into sub_task (task_id, title, description, status, create_time, update_time, create_user, update_user)
        values (#{taskId}, #{title}, #{description}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <delete id="deleteByTaskId">
        delete from sub_task where task_id = #{taskId}
    </delete>

    <!-- 更新子任务状态 -->
    <update id="updateStatus">
        UPDATE sub_task
        SET status = #{status}, update_time = NOW()
        WHERE sub_task_id = #{subTaskId}
    </update>
    
    <!-- 根据ID查询子任务 -->
    <select id="findById" resultType="com.back_hexiang_studio.entity.SubTask">
        SELECT * FROM sub_task WHERE sub_task_id = #{subTaskId}
    </select>
</mapper>